@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-color: black;
    color: rgb(var(--foreground-rgb));
    overflow: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.moving1 {
    position: absolute;
    top: -163px;
    left: 203px;
    width: 750px;
    height: 750px;
    background: linear-gradient(to bottom, #FF00FF, #00EEC5);
    filter: blur(617.5px);
    border-radius: 100%;
    animation: transition1 24s linear infinite;
    z-index: -10;
}

.moving2 {
    position: absolute;
    top: -163px;
    left: 203px;
    width: 750px;
    height: 750px;
    background: linear-gradient(to bottom, #8F00FF, #00C8FF);
    filter: blur(617.5px);
    border-radius: 100%;
    animation: transition2 24s linear infinite;
    z-index: -10;
}

@keyframes transition1 {

    0%,
    100% {
        top: 666px;
        left: 0px;
    }

    25% {
        top: 477px;
        left: -51px;
    }

    50% {
        top: 308px;
        left: -161px;
    }

    75% {
        top: 743px;
        left: 600px;
    }
}

@keyframes transition2 {

    0%,
    100% {
        top: 718px;
        left: 0px;
    }

    25% {
        top: 228px;
        left: 634px;
    }

    50% {
        top: -201px;
        left: 865px;
    }

    75% {
        top: -168px;
        left: 92px;
    }
}

.shadow2 {
    box-shadow: 0 0 20px #d175b633;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D175B6;
    border: 3px solid #FFF;
    border-radius: 5px;
}